/* Creates space above and centers elements in profile header */
.profile-header {
  display: flex;
  flex-direction: column;
  margin: 20px 0 30px;
  text-align: center;
  justify-content: center;
}

/* Removes space between profile img and profile name */
.img-div {
  margin-bottom: -15px;
}

/* Styling for profile img */
.profile-img {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

/* Styling for profile level div box */
.profile-level-div {
  width: 30px;
  height: 20px;
  z-index: 100;
  margin: 0 auto;
  padding: 2px 8px 2px;
  background-color: rgb(93, 92, 92);
  position: relative;
  top: -25px;
  border-radius: 20px;
}

/* Styling for profile level text */
.profile-level {
  font-family: spiegel;
  color: white;
}

/* Styling for profile name div box */
.profile-name {
  margin: 0 auto;
  background-color: rgba(87, 87, 87, 0.722);
  width: fit-content;
  height: 40px;
  border-radius: 10px;
  padding: 5px 10px 0;
}

/* Styling for game name and tag line */
.profile-game-name, .profile-tag-line {
  font-family: spiegel;
  font-size: 30px;
}

.profile-game-name {
  color: white;
  margin-right: 5px;
}

.profile-tag-line {
  color: rgb(43, 43, 43);
}

/* Responsive styling */
@media only screen and (min-width: 800px) {
  /* Styling for profile img */
  .profile-img {
    width: 125px;
    height: 125px;
  }

  /* Styling for profile name div box */
  .profile-name {
    height: 50px;
  }

  /* Styling for game name and tag line */
  .profile-game-name, .profile-tag-line {
    font-size: 40px;
  }
}