/* Beaufort Font */
@font-face {
  src: url(/public/fonts/BeaufortForLoL-OTF/BeaufortforLOL-MediumItalic.otf);
  font-family: beaufort
}

/* Spiegel Font */
@font-face {
  src: url(/public/fonts/Spiegel-OTF/Spiegel-BoldItalic.otf);
  font-family: spiegel;
}

/* Global styling for body, h1, and h2 tags */
body {
  margin: 0;
  padding: 0.01;
  height: 92vh;
  background-image: url('/public/background.webp');
  background-size: 570%;
  background-position-x: -200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: beaufort;
}

h1 {
  color: rgb(198, 200, 60);
  text-shadow: 3px 3px 2px black;
}

h2 {
  color: rgb(108, 104, 104);
}