/* Styling for search bar container */
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: spiegel;
}

/* Styling for the top half of the search bar container */
.top-search {
  display: flex;
  flex-direction: row;
}

/* Styling for region select menu */
.select-region {
  display: flex;
  flex-direction: column;
  background-color: rgb(7, 109, 198);
  border-top-left-radius: 12px;
  width: 100px;
  height: 50px;
  line-height: 16px;
  color: white;
  font-size: 30px;
}

.select-region:hover {
  cursor: pointer;
}

/* Styling for region select menu texts */
.region-text {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  padding-left: 10px;
}

.region-label {
  color: rgb(198, 200, 60);
  font-size: 15px;
  margin-bottom: 3px;
}

.region-name {
  font-size: 20px;
}

/* Styling for region select drop down menu */
.region-options {
  z-index: 100;
  display: none;
}

/* Styling for drop down menu list */
.region-options ul {
  overflow: auto;
  white-space: nowrap;
  margin-top: 8px;
  padding: 0;
  width: 100px;
  height: 137px;
  border-top: 2px solid rgb(7, 104, 189);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgb(7, 109, 198);
  list-style-type: none;
  color: white;
}

/* Styling for drop down menu list items */
.region-select ul li {
  padding: 15px;
  font-size: 20px;
}

.select-region ul li:hover {
  background-color: rgb(8, 88, 157);
}

/* Styling for search bar input field */
.user-input {
  background-color: rgb(255, 255, 255);
  border: none;
  border-top-right-radius: 12px;
  outline: none;
  height: 48px;
  padding-left: 10px;
  font-family: spiegel;
  font-size: 16px;
}

/* Styling for seach-button */
.search-button {
  background-color: rgb(229, 18, 18);
  border: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  outline: none;
  width: 316px;
  height: 30px;
  color: white;
  font-family: spiegel;
  font-size: 18px;
}

.search-button:hover {
  cursor: pointer;
  background-color: red;
}