/* Oswald Regular font */
@font-face {
  src: url(fonts/BeaufortForLoL-OTF/BeaufortforLOL-MediumItalic.otf);
  font-family: beaufort
}

@font-face {
  src: url(fonts/Spiegel-OTF/Spiegel-BoldItalic.otf);
  font-family: spiegel;
}

body {
  margin: 0;
  padding: 0;
  height: 92vh;
  background-image: url('background.webp');
  background-size: 570%;
  background-position-x: -200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: beaufort;
}